[package]
name = "zero2prod"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "zero2prod"

[dependencies]
actix-web = "4.12.1"
reqwest = "0.12.28"
serde = "1.0.228"
tokio ={ version =  "1.48.0", features = ["macros", "rt-multi-thread"] }
